# Ignore all files with extension .txt
*.txt
# Ignore specific debugging executables
1
2
3
4
# Ignore all files with o as extension
*.o
# Ignore all files with out as extension
*.out
# Ignore the .vscode hiden folder
**/.vscode/


