# Ignore all files with extension .txt
*.txt
# Ignore all files without a dot
*[^.]*
# Ignore all files with o as extension
*.o
# Ignore all files with out as extension
*.out
# Ignore the .vscode hiden folder
**/.vscode/
# Allow directories (but their contents still follow rules)
!*/

